/* BASE STYLES */

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color:#757575;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

/* NAVBAR */

.navbar{
    width:100%;
}

.navbar-default {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    position:fixed;
}

.navbar-nav{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
    float:none;
    font-size: 1em;
    font-weight: bold;
}

/* LAYOUT */

#page-home{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f7f7f7;
}

#page-home header {
  color: #000000;
  padding-top: 20%;
}

#page-home h1 {
  font-size: 70px;
  text-transform: uppercase;
}

#page-home p {
  font-size: 30px;
  text-transform: uppercase;
}

#page-profile {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#page-skills{
  background:#f7f7f7;
}

.skills {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.skills p {
  font-size: 20px;
}

#page-experience {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


.section-header{
  text-align: center
}

.section-header p {
  font-size: 24px;
}

.section-title {
  color: #555555;
  padding-top: 5%;
  text-align: center;
  font-size: 48px;
}

