/*============================
         BASE STYLES
==============================*/

$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue-bg: #3498db;
$section-title-grey: #555555;
$background-grey: #f7f7f7;
$button-border: #4cddf3;
$github-hover: #444444;
$linkedin-hover: #015786;
$facebook-hover: #204385;
$twitter-hover: #2BA9E0;

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color:#757575;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
}

.page-section {
  padding: 75px 0;
  &:nth-of-type(even) {
    background: $background-grey;
  }
}

/* ===========================
            NAVBAR
==============================*/

.navbar{
    width:100%;
}

.navbar-default {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  position:fixed;
}

.navbar-nav{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: inline-block;
  float:none;
  font-size: 1em;
  font-weight: bold;
}

/*==========================
           LAYOUT
============================*/

/*HOME*/

#page-home{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-image: url(/img/desk.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  header {
    color: $color-white;
    padding-top: 20%;
  }

  h1 {
    font-size: 70px;
    text-transform: uppercase;
  }

  p {
    font-size: 30px;
    text-transform: uppercase;
  }
}

/*PROFILE*/

#page-profile{

}

.profile {
  border: 5px solid $color-black;
  height: 215px;
  width: 215px;
  margin: 0 20 20 0;

  img {
    max-width: 100%;
  }
}

/*SKILLS*/

#page-skills{

}

.skills {
  position: relative;
  width: 150px;
  text-align: center;

  p {
    font-size: 20px;
    font-weight: 600;
  }
}

/*EDUCATION*/

/*  #page-education {

 } */

/*EXPERIENCE*/

/* #page-experience{

} */

.xp-row {
  margin-top: 20px;

  img {
    height: 130px;
    width: auto;
  }

}

.exactal-logo {
  img {
    padding-left: 20px;
  }
}

.general-assembly-logo {
  img {
    padding-left: 20px;
  }
}

/*PORTFOLIO*/

#page-portfolio {

}

.portfolio-header {
  text-align: center;
  margin-top: 40px;

  img {
    display: block;
    height: 140px;
    width: auto;
    margin: 0 auto;
  }
}

.modal-content img {
  width: 100%;
  height: 100%;
}

.portfolio-info {
  text-align: center;

  p {
    text-align: left;
  }
}

/*CONTACT*/

#page-contact {

  background: $color-blue-bg;
  color: $color-white;

  h2 {
  color: $color-white;
  }

  .contact-info {
    p {
    font-size:19px;
    }
    a {
      color: $color-white
    }
  }
}



/* =========================
        DIVIDERS
============================*/

.section-header{
  text-align: center

  p {
    font-size: 24px;
  }
}

.section-title {
  color: $section-title-grey;
  text-align: center;
  font-size: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 20px 0;
}

.section-subtitle {
    text-align: center;
    padding:30px 0;
}

.spacer {
  width: 100px;
  height: 2px;
  margin: auto;
  background: $color-blue-bg;
  #page-contact &{
    background: $color-white;
  }
}

/*=======================
         FORM
=========================*/

.form-control{
  box-shadow:none;
  -webkit-box-shadow:none;
  border: none;
  border-radius: 0;
}

.btn.btn-default {
  margin: 20px auto 0;
  background: transparent;
  border: 2px solid $button-border;
  border-color: $color-white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 26px 12px;
  color: $color-white;
  border-radius: 0;

  &:hover,
  &:active{
    background:$color-white;
    border-color: $color-white;
    color:$color-blue-bg;
  }
}

.form-message-box {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
}

.alert-danger {
  color: $color-white;
  background-color: $color-red;
  border: 2px solid $button-border;
  border-color: $color-white;
  border-radius: 0;
}

.alert-success {
  color: $color-white;
  background-color: $color-green;
  border: 2px solid $button-border;
  border-color: $color-white;
  border-radius: 0;
}

/*=======================
      SOCIAL ICONS
=======================*/

.social-icons {
  padding-top: 10px;
  margin-bottom: 35px;
}

.btn-round {
  border: 1px solid $color-white;
  border-radius: 50%;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  padding: 0;
  display: inline-block;
  color: $color-white;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  i {
    font-size: 20px;
    position: relative;
    padding-top: 15px;
  }

  &.btn-round:hover,
  &.btn-round.selected{
    background: $color-white;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}

.btn-github:hover{
  color: $github-hover;
}

.btn-linkedin:hover{
  color: $linkedin-hover;
}

/* .btn-facebook:hover{
    color: $facebook-hover;
} */

.btn-twitter:hover{
  color: $twitter-hover;
}